@using venteTest.Resources.Views

<h5 class="p-2 rounded-top" style="background-color: #FFC107;"><span>Options</span></h5>
<ul class="list-group mb-4">
    <li class="list-group-item list-group-item-warning"><a asp-action="Index">Categorie Management</a></li>
    <li class="list-group-item list-group-item-warning"><a asp-action="Membres">Member Management</a></li>
    <li class="list-group-item list-group-item-warning"><a asp-action="BidConfiguration">Bid Configuration</a></li>
    <li class="list-group-item list-group-item-warning"><a asp-action="Objets">Objects Management</a></li>
</ul>
