@model venteTest.Models.AdminViewModels.SendCotesReportViewModel

@{
    ViewData["Title"] = "MembresCote";
}

<h2>Member ratings</h2>
<h4>Generate member ratings report for a selected period</h4>
<form asp-action="MembresCote">
    <div class="form-group mt-3">
        <label asp-for="SelectedMonthStart" class="control-label font-weight-bold">Start </label><br />
        @Html.DropDownListFor(model => model.SelectedMonthStart, (IEnumerable<SelectListItem>)ViewBag.Months, "Month", new { @class = "dropdown" })
        @Html.DropDownListFor(model => model.SelectedYearStart, (IEnumerable<SelectListItem>)ViewBag.Years, "Year", new { @class = "dropdown" })
    </div>
    <div class="form-group">
        <label asp-for="SelectedMonthEnd" class="control-label font-weight-bold">End </label><br />
        @Html.DropDownListFor(model => model.SelectedMonthEnd, (IEnumerable<SelectListItem>)ViewBag.Months, "Month", new { @class = "dropdown" })
        @Html.DropDownListFor(model => model.SelectedYearEnd, (IEnumerable<SelectListItem>)ViewBag.Years, "Year", new { @class = "dropdown" })
    </div>
    <button type="submit" class="btn-lg btn-warning">Email PDF report</button>
    <p class="text-info mt-3"><strong class="text-uppercase"><u>IMPORTANT</u> :</strong></p>
    <p class="text-info"><strong> - </strong>To generate a report for a single given month, year/month Start and End dates must be the same.</p>
</form>