@using venteTest.Resources.Views

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>@SharedStrings.GererCompte</h2>

<div>
    <h4>@SharedStrings.ChangerParametres</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

