@using venteTest.Resources.Views


@{
    ViewData["Title"] = "FAQ";
}
<h2>@SharedStrings.Faq</h2>
<h3>@SharedStrings.QuestionsCourantes</h3>

<p></p>

<p>Lorsque vous joignez notre site d'encans, vous convenez avoir compris les modalités suivantes:</p>

<p>
    <ul>
        <li>
            Les paiements sont effectués entre les parties, lorsqu'elles se rencontrent.
        </li>
        <li>
            Il y a un frais de commission sur chaque transaction qui est complétée.
        </li>
        <li>
            Les acheteurs et vendeurs évaluent chacun la transaction qui a été complétée.
        </li>
        <li>
            Si la réputation d'un usager atteint la note de -6, un message est envoyé à l'usager fautif.
        </li>
        <li>
            Advenant que la réputation d'un usager atteigne -9, le compte de cet usager sera effacé.
        </li>
        <li>
            Si vous avez des questions, vous pouvez nous contacter via le formulaire situé à la page <a asp-area="" asp-controller="Home" asp-action="Contact">@SharedStrings.Contact</a>.
        </li>
    </ul>
</p>



