@model DateTime

@{
    var id = "dateTimePicker" + ViewData["id"]; // PASSED IN FROM EDIT.CSHTML
    var defaultEndDate = DateTime.Now.AddDays(3);
}

<div class='input-group date' >
    <div class="input-group date" id='@id' data-target-input="nearest">
        <input type="text" name="DateLimite" class="form-control datetimepicker-input" data-target="#@id"/>
        <div class="input-group-append" data-target="#@id" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
    </div>
</div>
<script type="text/javascript">
							$(function () {
								$('#@id').datetimepicker({
                                    format: 'L'
								});
							});
</script>