@model IEnumerable<venteTest.Models.Objet>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" initial-scale=1 />
    <title>listeObjetVisiteur</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <ul class="nav navbar-nav">
            <li>
                <div class="">
                    <h1>Vente Enchères</h1>
                    <img src="~/images/hammer.png" class="" width="50" height="50" alt="" />
                </div>
            </li>
        </ul>
    </header>
    <article>
        @RenderBody()
    </article>

</body>
</html>

