@using venteTest.Resources.Views

@{
    ViewData["Title"] = @StringsAccount.ConfirmerCourriel;
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        @StringsAccount.ConfirmerCourrielDescription
    </p>
</div>
