@using venteTest.Resources.Views

@{
    ViewData["Title"] = "Confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    @StringsAccount.MDPReinitialise <a asp-action="Login">@StringsAccount.ClickToLogin</a>.
</p>
