@using venteTest.Resources.Views

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group mb-4">
                <li class="list-group-item list-group-item-warning"><a asp-action="Index">Mes Objets À vendre</a></li>
                <li class="list-group-item list-group-item-warning"><a asp-action="ListeAAcheter">Mes Enchères en cours</a></li>
                <li class="list-group-item list-group-item-warning"><a asp-action="ListePerdues">Mes Enchères perdues</a></li>
                <li class="list-group-item list-group-item-warning"><a asp-action="ListeGagnant">Mes Enchères gagnants</a></li>
                <li class="list-group-item list-group-item-warning"><a asp-action="ListeVendus">Mes Objets Vendus</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

